﻿@{
    ViewBag.Title = "DisplayPoint";
    var Lon = Session["Lon"];
    var Lat = Session["Lat"];
}

<body style="margin: 0">
    <canvas id="canvas"></canvas>
</body>
<script>
    const mapImage = new Image();
    const planeImage = new Image();
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext('2d');

    mapImage.src = "/Content/old_map.jpg";
    planeImage.src = "/Content/plane.png";

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    // adjust the longitude values between -180 to 180
    function adjustLon() {
        if (@Lon < 0) {
            return (canvas.width / 2) * (1 - Math.abs(@Lon) / 180);
        } else {
            return (canvas.width / 2) * (1 + Math.abs(@Lon) / 180);
        }
    }
    // adjust the latitude values between -90 to 90
    function adjustLat() {
        if (@Lat < 0) {
            return (canvas.height / 2) * (1 + Math.abs(@Lat) / 90);
        } else {
            return (canvas.height / 2) * (1 - Math.abs(@Lat) / 90);
        }
    }

    const Lon = adjustLon();
    const Lat = adjustLat();

    mapImage.onload = function () {
        scaleToFill(this);
        loadPlane();
    }

    const loadPlane = () => {
        ctx.drawImage(planeImage, Lon, Lat);
    }

    function scaleToFill(img) {
        var scale = Math.max(canvas.width / img.width, canvas.height / img.height);
        var x = (canvas.width / 2) - (img.width / 2) * scale;
        var y = (canvas.height / 2) - (img.height / 2) * scale;
        ctx.drawImage(img, x, y, img.width * scale, img.height * scale);
    }
    
</script>