﻿@{
    ViewBag.Title = "SavePlaneInfo";
}
<body style="margin: 0">
    <canvas id="canvas"></canvas>
</body>
<script src="~/scripts/jquery-3.0.0.min.js"></script>
<script src="~/scripts/jquery-3.0.0.js"></script>

<script>
    var IntervalTime = @Session["time"] * 1000;
    var finishTime = @Session["duration"] * 1000;
    //const fileName = "atk2k";
    const fileName = "@Session["file"]";

    const mapImage = new Image();
    const planeImage = new Image();
    const canvas = document.getElementById("canvas");
    const ctx = canvas.getContext('2d');

    mapImage.src = "/Content/old_map.jpg";
    planeImage.src = "/Content/plane.png";

    canvas.width = window.innerWidth;
    canvas.height = window.innerHeight;

    // adjust the longitude values between -180 to 180
    function adjustLon(Lon) {
        if (Lon < 0) {
            return (canvas.width / 2) * (1 - Math.abs(Lon) / 180);
        } else {
            return (canvas.width / 2) * (1 + Math.abs(Lon) / 180);
        }
    }
    // adjust the latitude values between -90 to 90
    function adjustLat(Lat) {
        if (Lat < 0) {
            return (canvas.height / 2) * (1 + Math.abs(Lat) / 90);
        } else {
            return (canvas.height / 2) * (1 - Math.abs(Lat) / 90);
        }
    }

    const loadPlane = (Lon,Lat) => {
        ctx.drawImage(planeImage, Lon, Lat);
    }

    function scaleToFill(img) {
        var scale = Math.max(canvas.width / img.width, canvas.height / img.height);
        var x = (canvas.width / 2) - (img.width / 2) * scale;
        var y = (canvas.height / 2) - (img.height / 2) * scale;
        ctx.drawImage(img, x, y, img.width * scale, img.height * scale);
    }

    ctx.beginPath();
    ctx.moveTo(adjustLon(@Session["Lon"]), adjustLat(@Session["Lat"]));
    ctx.strokeStyle = 'red';
    ctx.lineWidth = 3;

    var dataArr = [];
    var index = 0;
            
    const myTimer = function () {
        
        $.get("/First/GetPlaneInfo", function (data) {
            if (data.Lon != -1000 && data.Lat != -1000) {
                dataArr.push(new Object());  
                dataArr[index]["Lon"] = data.Coor.Lon;
                dataArr[index]["Lat"] = data.Coor.Lat;
                dataArr[index]["Throttle"] = data.Throttle;  
                dataArr[index]["Rudder"] = data.Rudder;  

                const Lon = adjustLon(data.Coor.Lon);
                const Lat = adjustLat(data.Coor.Lat);
                scaleToFill(mapImage);
                loadPlane(Lon, Lat);
                ctx.lineTo(Lon, Lat);
                ctx.stroke();
                index++;
            }
        });
    };

    const sendToServer = function () {
        //clearInterval(intervalId);

        var dataToSend = { "fileName": fileName, "planeInfo": JSON.stringify(dataArr) }

        $.ajax({
            type: "POST",
            traditional: true,
            url: "/First/SaveData",
            content: "application/json;",
            dataType: "json",
            data: dataToSend,
            success: function () {
                console.info("saved successfuly");
            }
        });
    };  

    var intervalId = setInterval(myTimer, IntervalTime);
    myTimer();
    setTimeout(sendToServer, finishTime);
    
</script>
